body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 8px;
}

p {
    margin: 0;
}


main {
    height: 700px;
    display: flex;

}


header>img {
    height: 100px;
}

header>p {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 800;
}

#helloCont {
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
    padding: 20px;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42);
    height: 100px;
}

footer>p {
    color: rgb(192, 192, 192);
}